{% extends "link_req.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Put your link in</legend>
                <div class="form-group">
                    {{ form.link_example.label(class="form-control-label") }}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
{% endblock content %}